<h1 class="text-info font-weight-light">Home</h1>
<p class="mb-4 text-secondary font-weight-light">
  This is a simple app using Sails.
</p>
<a href="/todos/list" class="btn btn-success font-weight-light">View Todos</a>
<a href="/todos/add" class="btn btn-success font-weight-light">Add Todo</a>
