<h1 class="text-info font-weight-light">Home</h1>
<p class="mb-4 text-secondary font-weight-light">
  This is a simple app using Sails.
</p>
<img src="https://sailsjs.com/images/hero_squid.png" alt="Sails">
