<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/todos/list">Todos</a>
  </li>
  <li class="breadcrumb-item active">
    Add
  </li>
</ol>
<form method="post" action="/todos/add">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <input type="submit" name='submit' class="btn btn-primary">
</form>
