<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    Todos
  </li>
</ol>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-secondary font-weight-light">#</th>
      <th class="text-secondary font-weight-light">Name</th>
      <th class="text-secondary font-weight-light">Status</th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach(function(todo, index) { %>
      <tr>
        <th class="text-secondary font-weight-light"><%= index + 1 %></th>
        <th class="text-secondary font-weight-light"><%= todo.name %></th>
        <th>
          <% if (todo.isCompleted) { %>
          <span class="badge badge-danger">Active</span>
          <% } else { %>
          <span class="badge badge-success">Completed</span>
          <% } %>
        </th>
      </tr>
    <% }) %>
  </tbody>
</table>